.section--text-image {
	padding: 0;
}
.section--text-image__wrapper {
	max-width: 100vw;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 40px 80px;
}
@media only screen and (min-width: 1440px) {
	.section--text-image__wrapper {
		max-width: 1520px;
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image__wrapper {
		padding: 30px 30px 50px;
	}
}
@media only screen and (max-width: 640px) {
	.section--text-image__wrapper {
		padding: 15px 15px 35px;
	}
}
.section--text-image--alternate-bg {
	background-color: #fff;
}
.section--text-image .image__wrapper h2 {
	display: none;
}
.section--text-image__content {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	max-height: 100%;
	width: 100%;
}
@media only screen and (max-width: 900px) {
	.section--text-image__content {
		flex-direction: column;
		align-items: center;
	}
}
.section--text-image .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.section--text-image .text h2 {
	font-size: 26px;
	line-height: 36px;
	letter-spacing: -0.02em;
	font-family: 'GTAmerica-Medium';
	font-weight: 500;
}
.section--text-image .text__content {
	margin-top: 32px;
}
.section--text-image .text__content.wysiwyg p {
	font-size: 24px;
	line-height: 40px;
}
.section--text-image .text__content.wysiwyg p:not(:last-child) {
	margin-bottom: 20px;
}
.section--text-image .text__cta {
	margin-top: 32px;
}
.section--text-image .text .category {
	font-weight: 400;
	font-size: 20px;
	color: #5d677b;
	line-height: 28px;
}
.section--text-image .text .event-date {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin-top: 24px;
}
.section--text-image .text .event-date svg {
	margin-right: 6px;
}
.section--text-image .text .event-date span {
	color: #0c1637;
	font-family: 'GTAmerica-Regular';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
}
.section--text-image .image__legend {
	font-family: 'GTAmerica-Regular';
	font-size: 24px;
	line-height: 167%;
	margin: 0 0 0 63px;
	max-width: 421px;
	letter-spacing: -0.02em;
}
@media only screen and (max-width: 1280px) {
	.section--text-image .image__legend {
		font-size: 20px;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image .image__legend {
		width: 100%;
		max-width: 600px;
		margin: 0;
	}
}
.section--text-image .image .text__cta {
	display: none;
}
.section--text-image.featured.is-card,
.section--text-image.normal.is-card {
	background-color: #fff;
	box-shadow: 0 24px 38px rgba(0, 0, 0, 0.08), 0 -24px 38px rgba(22, 29, 36, 0.08);
}
.section--text-image.featured.is-card .section--text-image__wrapper,
.section--text-image.normal.is-card .section--text-image__wrapper {
	min-height: 650px;
}
@media only screen and (max-width: 900px) {
	.section--text-image.featured.is-card .section--text-image__wrapper,
	.section--text-image.normal.is-card .section--text-image__wrapper {
		min-height: unset;
	}
}
.section--text-image.featured:not(.is-card) .section--text-image__wrapper,
.section--text-image.normal:not(.is-card) .section--text-image__wrapper {
	padding: 40px;
}
@media screen and (max-width: 1600px) and (min-width: 900px) and (max-height: 900px) {
	.section--text-image.featured:not(.is-card) .section--text-image__wrapper,
	.section--text-image.normal:not(.is-card) .section--text-image__wrapper {
		min-height: 80vh;
	}
}
@media screen and (min-width: 1601px) {
	.section--text-image.featured:not(.is-card) .section--text-image__wrapper,
	.section--text-image.normal:not(.is-card) .section--text-image__wrapper {
		min-height: 650px;
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image.featured:not(.is-card) .section--text-image__wrapper,
	.section--text-image.normal:not(.is-card) .section--text-image__wrapper {
		padding: 30px;
	}
}
@media only screen and (max-width: 640px) {
	.section--text-image.featured:not(.is-card) .section--text-image__wrapper,
	.section--text-image.normal:not(.is-card) .section--text-image__wrapper {
		padding: 15px;
	}
}
.section--text-image.featured .text,
.section--text-image.normal .text {
	margin: 0 132px 0 117px;
	max-width: 426px;
}
@media only screen and (min-width: 1440px) {
	.section--text-image.featured .text,
	.section--text-image.normal .text {
		max-width: 30vw;
		margin: 0 100px 0 60px;
	}
}
@media only screen and (min-width: 1600px) {
	.section--text-image.featured .text,
	.section--text-image.normal .text {
		margin: 0 132px 0 0;
		max-width: 36vw;
	}
}
@media only screen and (min-width: 1920px) {
	.section--text-image.featured .text,
	.section--text-image.normal .text {
		max-width: 600px;
	}
}
@media only screen and (max-width: 1439px) {
	.section--text-image.featured .text,
	.section--text-image.normal .text {
		margin: 0 100px 0 60px;
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image.featured .text,
	.section--text-image.normal .text {
		max-width: 40vw;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.featured .text,
	.section--text-image.normal .text {
		padding-top: 40px;
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
}
@media only screen and (max-width: 640px) {
	.section--text-image.featured .text__content,
	.section--text-image.featured .text__cta,
	.section--text-image.normal .text__content,
	.section--text-image.normal .text__cta {
		margin-top: 25px;
	}
}
.section--text-image.featured .image,
.section--text-image.normal .image {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50vw;
}
.section--text-image.featured .image picture,
.section--text-image.normal .image picture {
	display: block;
	max-width: 684px;
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}
@media only screen and (min-width: 1600px) {
	.section--text-image.featured .image picture,
	.section--text-image.normal .image picture {
		max-width: 738px;
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image.featured .image picture,
	.section--text-image.normal .image picture {
		max-width: 100%;
	}
}
.section--text-image.featured .image picture img,
.section--text-image.normal .image picture img {
	border-radius: 140px;
	display: block;
}
@media only screen and (max-width: 1439px) {
	.section--text-image.featured .image picture img,
	.section--text-image.normal .image picture img {
		border-radius: 9.72vw;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.featured .image picture img,
	.section--text-image.normal .image picture img {
		border-radius: 13vw;
	}
}
.section--text-image.featured .image__wrapper,
.section--text-image.normal .image__wrapper {
	display: flex;
	justify-content: center;
	max-height: 100%;
}
@media only screen and (max-width: 900px) {
	.section--text-image.featured .image,
	.section--text-image.normal .image {
		width: 100%;
		max-width: 700px;
	}
}
.section--text-image.featured.left .section--text-image__wrapper .section--text-image__content,
.section--text-image.normal.left .section--text-image__wrapper .section--text-image__content {
	justify-content: start;
}
.section--text-image.featured.left .section--text-image__wrapper .text,
.section--text-image.normal.left .section--text-image__wrapper .text {
	margin: 0 117px 0 132px;
}
@media only screen and (min-width: 1600px) {
	.section--text-image.featured.left .section--text-image__wrapper .text,
	.section--text-image.normal.left .section--text-image__wrapper .text {
		margin: 0 0 0 132px;
	}
}
@media only screen and (max-width: 1439px) {
	.section--text-image.featured.left .section--text-image__wrapper .text,
	.section--text-image.normal.left .section--text-image__wrapper .text {
		margin: 0 calc(27.4vw - 278px) 0 calc(9.12vw + 1px);
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image.featured.left .section--text-image__wrapper .text,
	.section--text-image.normal.left .section--text-image__wrapper .text {
		margin: 0 13px 0 calc(35.5vw - 269px);
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.featured.left .section--text-image__wrapper .text,
	.section--text-image.normal.left .section--text-image__wrapper .text {
		margin: 0;
	}
}
.section--text-image.featured.left .section--text-image__wrapper .section--text-image__content,
.section--text-image.normal.left .section--text-image__wrapper .section--text-image__content {
	flex-direction: row-reverse;
}
@media only screen and (max-width: 900px) {
	.section--text-image.featured.left .section--text-image__wrapper .section--text-image__content,
	.section--text-image.normal.left .section--text-image__wrapper .section--text-image__content {
		flex-direction: column-reverse;
	}
}
.section--text-image.featured.right .section--text-image__wrapper .section--text-image__content,
.section--text-image.normal.right .section--text-image__wrapper .section--text-image__content {
	justify-content: end;
}
@media only screen and (max-width: 900px) {
	.section--text-image.featured .section--text-image__wrapper .section--text-image__content,
	.section--text-image.normal .section--text-image__wrapper .section--text-image__content {
		flex-direction: column-reverse;
	}
}
.section--text-image.tab .section--text-image__wrapper {
	padding: 0;
}
.section--text-image.tab .text {
	max-width: 37.63vw;
	margin-right: 157px;
}
.section--text-image.tab .text h2 {
	font-size: 40px;
	line-height: 125%;
	font-family: 'GTAmerica-Regular';
	font-weight: 400;
}
@media only screen and (min-width: 1440px) {
	.section--text-image.tab .text {
		max-width: 36vw;
	}
}
@media only screen and (min-width: 1920px) {
	.section--text-image.tab .text {
		max-width: 600px;
	}
}
@media only screen and (max-width: 1439px) {
	.section--text-image.tab .text {
		margin-right: 10.9vw;
	}
}
@media only screen and (max-width: 1280px) {
	.section--text-image.tab .text {
		max-width: 41vw;
		margin-right: 8vw;
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image.tab .text {
		max-width: 40vw;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.tab .text {
		padding-top: 40px;
		margin: 0;
		width: 100%;
		max-width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.section--text-image.tab .text {
		padding-top: 0;
	}
	.section--text-image.tab .text h2 {
		display: none;
	}
}
@media only screen and (max-width: 640px) {
	.section--text-image.tab .text__content {
		margin-top: 25px;
	}
}
.section--text-image.tab .text__content.wysiwyg p {
	font-size: 16px;
	line-height: 188%;
	color: #738089;
}
.section--text-image.tab .text__cta {
	margin-top: 55px;
}
@media only screen and (max-width: 900px) {
	.section--text-image.tab .text__cta {
		margin-top: 35px;
	}
}
@media only screen and (max-width: 768px) {
	.section--text-image.tab .text__cta {
		margin-top: 30px;
	}
}
.section--text-image.tab .image {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50vw;
}
.section--text-image.tab .image picture {
	display: block;
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}
@media only screen and (min-width: 1600px) {
	.section--text-image.tab .image picture {
		max-width: 550px;
	}
}
@media only screen and (max-width: 768px) {
	.section--text-image.tab .image picture {
		width: unset;
		max-width: 40%;
	}
}
@media only screen and (max-width: 480px) {
	.section--text-image.tab .image picture {
		width: unset;
		max-width: 100%;
	}
}
.section--text-image.tab .image picture img {
	border-radius: 120px;
	display: block;
	width: 428px;
	max-height: 428px;
	max-width: 100%;
}
@media only screen and (min-width: 1440px) {
	.section--text-image.tab .image picture img {
		width: 29.72vw;
		max-height: 29.72vw;
	}
}
@media only screen and (max-width: 1439px) {
	.section--text-image.tab .image picture img {
		border-radius: 8.33vw;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.tab .image picture img {
		border-radius: 13vw;
	}
}
@media only screen and (max-width: 480px) {
	.section--text-image.tab .image picture img {
		max-width: 26.6vw;
		border-radius: 8vw;
	}
}
.section--text-image.tab .image__wrapper {
	display: flex;
	justify-content: center;
	max-height: 100%;
	align-items: center;
}
@media only screen and (max-width: 768px) {
	.section--text-image.tab .image__wrapper {
		justify-content: space-between;
		width: 100%;
	}
	.section--text-image.tab .image__wrapper h2 {
		display: block;
		font-weight: 400;
		font-size: 40px;
		line-height: 50px;
		font-family: 'GTAmerica-Regular';
		margin-right: 34px;
		min-height: 80px;
	}
}
@media only screen and (max-width: 480px) {
	.section--text-image.tab .image__wrapper h2 {
		font-size: 24px;
		line-height: 40px;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.tab .image {
		width: 100%;
		max-width: 700px;
	}
}
@media only screen and (max-width: 768px) {
	.section--text-image.tab .image {
		width: 100%;
		max-width: 100%;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.tab .section--text-image__wrapper .section--text-image__content {
		flex-direction: column-reverse;
	}
}
.section--text-image.intro .section--text-image__wrapper {
	padding: 100px 100px 5px 157px;
}
@media only screen and (min-width: 1600px) {
	.section--text-image.intro .section--text-image__wrapper {
		padding: 100px 40px 5px;
	}
}
@media only screen and (max-width: 1439px) {
	.section--text-image.intro .section--text-image__wrapper {
		padding-left: calc(27.4vw - 240px);
		padding-right: calc(14.4vw - 108px);
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image.intro .section--text-image__wrapper {
		padding: 70px 40px 5px;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.intro .section--text-image__wrapper {
		padding: 56px 30px 62px;
	}
}
@media only screen and (max-width: 640px) {
	.section--text-image.intro .section--text-image__wrapper {
		padding: 56px 15px 62px;
	}
}
.section--text-image.intro .text {
	justify-content: flex-start;
	max-width: 543px;
	width: 37.7vw;
	padding-bottom: 40px;
}
@media only screen and (min-width: 1600px) {
	.section--text-image.intro .text {
		max-width: 895px;
		width: 46.6vw;
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image.intro .text {
		width: 44vw;
		max-width: 44vw;
		margin-right: 5vw;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.intro .text {
		margin-right: 0;
	}
}
.section--text-image.intro .text__cta {
	margin-top: 80px;
}
@media only screen and (max-width: 900px) {
	.section--text-image.intro .text {
		width: 100%;
		max-width: 100%;
	}
	.section--text-image.intro .text .text__cta {
		display: none;
	}
}
.section--text-image.intro .image {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 86px;
}
.section--text-image.intro .image img {
	margin-top: 74px;
	border-radius: 0;
}
@media only screen and (max-width: 900px) {
	.section--text-image.intro .image img {
		border-radius: 0;
	}
}
@media only screen and (max-width: 900px) {
	.section--text-image.intro .image {
		align-items: flex-start;
		width: 100%;
		padding-top: 0;
		margin-top: 32px;
	}
	.section--text-image.intro .image img {
		margin-top: 50px;
		width: 100%;
	}
	.section--text-image.intro .image .text__cta {
		margin-top: 24px;
		display: block;
	}
}
.section--text-image.featured {
	border-radius: 0 0 30px 30px;
	box-shadow: 0 24px 38px rgba(0, 0, 0, 0.08);
}
.section--text-image.featured .text h2 {
	font-weight: 400;
	font-size: 32px;
	line-height: 42px;
	font-family: 'GTAmerica-Regular';
}
.section--text-image.featured .text__content {
	margin-top: 72px;
}
@media only screen and (max-width: 900px) {
	.section--text-image.featured .text__content {
		margin-top: 60px;
	}
}
@media only screen and (max-width: 640px) {
	.section--text-image.featured .text__content {
		margin-top: 40px;
	}
}
.section--text-image.featured__wrapper {
	padding: 40px 40px 80px;
}
@media only screen and (min-width: 1440px) {
	.section--text-image.featured__wrapper {
		max-width: 1600px;
	}
}
@media only screen and (max-width: 1024px) {
	.section--text-image.featured__wrapper {
		padding: 30px 30px 50px;
	}
}
@media only screen and (max-width: 640px) {
	.section--text-image.featured__wrapper {
		padding: 15px 15px 35px;
	}
}
.section--text-image.featured:not(.is-card) .section--text-image__wrapper {
	padding-bottom: 72px;
}
@media only screen and (max-width: 1024px) {
	.section--text-image.featured:not(.is-card) .section--text-image__wrapper {
		padding-bottom: 60px;
	}
}
@media only screen and (max-width: 640px) {
	.section--text-image.featured:not(.is-card) .section--text-image__wrapper {
		padding-top: 30px;
		padding-bottom: 45px;
	}
}
.card-navigation .section--text-image .section--text-image__wrapper {
	padding-bottom: 110px;
}
@media only screen and (max-width: 1024px) {
	.card-navigation .section--text-image .section--text-image__wrapper {
		padding-bottom: 80px;
	}
}
@media only screen and (max-width: 640px) {
	.card-navigation .section--text-image .section--text-image__wrapper {
		padding-bottom: 65px;
	}
}
.isCardNavigation .section--text-image .section--text-image__wrapper {
	max-height: calc(var(--viewport-height) - 62px);
	height: calc(var(--viewport-height) - 62px);
}
@media only screen and (max-width: 1024px) {
	.isCardNavigation .section--text-image .section--text-image__wrapper {
		max-height: calc(var(--viewport-height) - 50px);
		height: calc(var(--viewport-height) - 50px);
	}
}
@media only screen and (max-width: 900px) {
	.isCardNavigation .section--text-image .section--text-image__wrapper {
		max-height: calc(var(--viewport-height) - 35px);
		height: calc(var(--viewport-height) - 35px);
	}
}
.isCardNavigation .section--text-image .image img {
	max-height: 100%;
	width: auto;
}
.section--video-player--alternate-bg {
	background-color: #fff;
}
.flexible-wrapper .section--video-player {
	padding: 20px 0;
}
.section--video-player__inner {
	height: auto;
	position: relative;
	border-radius: 30px;
	margin: 0 20px;
	padding: 0;
	overflow: hidden;
}
.flexible-wrapper .section--video-player__inner {
	margin: 0 20px;
}
.section--video-player__inner .mobile {
	display: none;
}
@media only screen and (max-width: 900px) {
	.section--video-player__inner .mobile {
		display: flex;
	}
	.section--video-player__inner .desktop {
		display: none;
	}
}
@media only screen and (max-width: 640px) {
	.section--video-player__inner {
		margin: 0;
	}
	.flexible-wrapper .section--video-player__inner {
		margin: 20px 0;
	}
}
.section--video-player__poster {
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 95px 15px;
	border-radius: 30px 30px 30px 30px;
}
@media only screen and (max-width: 1280px) {
	.section--video-player__poster {
		padding: 65px 15px;
	}
}
@media only screen and (max-width: 900px) {
	.section--video-player__poster {
		padding: 40px 15px;
	}
}
.home-wrapper .section--video-player .section--video-player__poster {
	padding: 95px 15px 125px;
}
@media only screen and (max-width: 1280px) {
	.home-wrapper .section--video-player .section--video-player__poster {
		padding: 65px 15px 95px;
	}
}
@media only screen and (max-width: 900px) {
	.home-wrapper .section--video-player .section--video-player__poster {
		padding: 40px 15px 70px;
	}
}
.section--video-player h2 {
	font-size: 120px;
	line-height: 120px;
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-family: 'GTAmerica-ExtendedBlack';
	color: #fff;
	position: absolute;
	z-index: 1;
}
@media only screen and (max-width: 1280px) {
	.section--video-player h2 {
		font-size: 9.26vw;
		line-height: 1.2;
	}
}
@media only screen and (max-width: 900px) {
	.section--video-player h2 {
		font-size: 12vw;
		line-height: 1;
		position: relative;
	}
}
.section--video-player__content {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.section--video-player__image-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
}
.section--video-player__image {
	position: relative;
	margin-top: 65px;
}
@media only screen and (max-width: 1024px) {
	.section--video-player__image {
		margin-top: calc(12.1vw - 59px);
	}
}
@media only screen and (max-width: 900px) {
	.section--video-player__image {
		margin-top: 40px;
	}
}
.section--video-player__image--blurred {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.section--video-player__image--background {
	box-shadow: 0 24px 38px rgba(22, 29, 36, 0.08);
	border-radius: 169px;
	max-width: 915px;
	max-height: 476px;
}
@media only screen and (max-width: 1439px) {
	.section--video-player__image--background {
		width: calc(42.3vw + 306px);
		height: calc(21.9vw + 161px);
		max-height: unset;
	}
}
@media only screen and (max-width: 1280px) {
	.section--video-player__image--background {
		border-radius: 100px;
	}
}
@media only screen and (max-width: 640px) {
	.section--video-player__image--background {
		width: calc(100vw - 30px);
		height: calc(100vw - 30px);
		border-radius: 21.3vw;
	}
}
.section--video-player__image--background img {
	display: block;
}
.section--video-player__image--foreground__wrapper {
	position: absolute;
	transform: translate(50%, 10px);
	right: 50%;
	bottom: 20px;
	z-index: 1;
	max-width: 88.88vw;
	min-width: 88.88vw;
	min-width: 90%;
}
@media only screen and (min-width: 1440px) {
	.section--video-player__image--foreground__wrapper {
		max-width: 1280px;
		min-width: 1280px;
	}
}
@media only screen and (max-width: 1280px) {
	.section--video-player__image--foreground__wrapper {
		min-width: 95%;
		bottom: calc(-5.9vw + 105px);
	}
}
@media only screen and (max-width: 1024px) {
	.section--video-player__image--foreground__wrapper {
		bottom: 20px;
		min-width: 110%;
	}
}
@media only screen and (max-width: 900px) {
	.section--video-player__image--foreground__wrapper {
		bottom: calc(-5.9vw + 105px);
		min-width: 110%;
	}
}
@media only screen and (max-width: 640px) {
	.section--video-player__image--foreground__wrapper {
		right: 33%;
		top: 5vw;
		bottom: unset;
		min-width: 215%;
	}
}
.section--video-player__image--foreground img {
	transition: transform 0.15s cubic-bezier(0.61, 1, 0.88, 1);
}
.section--video-player__cta {
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: transform 0.3s cubic-bezier(0.61, 1, 0.88, 1);
}
.section--video-player__cta__wrapper {
	max-width: 915px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	display: flex;
	z-index: 2;
	width: 100%;
}
@media only screen and (max-width: 1439px) {
	.section--video-player__cta__wrapper {
		width: calc(42.3vw + 306px);
	}
}
@media only screen and (max-width: 640px) {
	.section--video-player__cta__wrapper {
		width: calc(100vw - 30px);
	}
}
.section--video-player__cta:hover .section--video-player__button {
	transform: scale(1.1);
}
.section--video-player__cta span {
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-family: 'GTAmerica-ExtendedBlack';
	color: #fff;
	margin-left: 18px;
}
@media only screen and (max-width: 900px) {
	.section--video-player__cta {
		position: relative;
		margin-top: 30px;
	}
	.section--video-player__cta span {
		width: 147px;
		text-align: left;
	}
}
.section--video-player__cta:focus .section--video-player__button {
	background: #0c1637;
}
.section--video-player__cta:focus .section--video-player__button svg path {
	stroke: #fff;
}
.section--video-player__button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	box-shadow: -1px -6px 10px hsla(0, 0%, 100%, 0.25), 0 6px 10px rgba(5, 25, 122, 0.1);
	width: 106px;
	height: 106px;
	border-radius: 50%;
	transition: transform 0.3s cubic-bezier(0.61, 1, 0.88, 1), background 0.3s;
}
.section--video-player__button svg {
	width: 26.09px;
	height: 24.35px;
}
.section--video-player__button svg path {
	transition: stroke 0.3s;
}
.section--video-player__iframe {
	position: relative;
	padding-bottom: 56.25%;
}
.section--video-player__iframe__wrapper {
	max-width: 80vw;
	margin: auto;
}
.section--video-player__iframe iframe {
	position: absolute;
	border: 0;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
}
